  /* 초기화 */
  * { 
    margin: 0; padding: 0
  }

  /* 화면 랩핑 */
  #wrap {
    width: 1024px;
  }

  /* 설명박스 내 정렬 */
  .InfoView {
    width: 150px; height: 40px;
    text-align: center;
    font-size: 15px;
  }
  /* 설명박스 내 a태그 CSS 설정 */
    .InfoView > a {
      text-decoration: none;
      color: blue;
    }

  figure {
    width: 1024px;
  }

  /*모바일 세로 화면 */
  @media screen and (max-width: 767px) {
    #wrap {
      width: 100%;
    }
    figure {
      margin : 15px;
      width : 93%; height: 300px;
    }
  }

  /* 모바일 가로 또는 태블릿화면 
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    #wrap {
      width: 100%;
    }
  } */
  /*데스크탑 화면*/
  @media screen and (min-width: 1024px) {
    #wrap {
      width: 100%;
    }
  }

  /*메인화면 카테고리*/
  .main {
    min-width: 320px;
    max-width: 800px;
    padding: 10px;    
    border-radius: 7px;;        
    background: #ffffff;}

  section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;}

  input {
      display: none;}

  label {
    width: 60px;
    font-size: 11px;
    display: inline-block;
    padding: 5px 5px;
    font-weight: 600;
    color: #bbb;
    border: 1px solid transparent;}

  label:hover {
    color: #2e9cdf;
    cursor: pointer;}

/*input 클릭시, label 스타일*/
  input:checked + label {
      color: #555;
      border: 1px solid #ddd;
      border-top: 2px solid #2e9cdf;
      border-bottom: 1px solid #ffffff;}

  #tab1:checked ~ #content1,
  #tab2:checked ~ #content2,
  #tab3:checked ~ #content3,
  #tab4:checked ~ #content4,
  #tab5:checked ~ #content5,
  #tab6:checked ~ #content6,
  #tab7:checked ~ #content7,
  #tab8:checked ~ #content8 {
    display: block;}