  /* 초기화 */
  * { 
    margin: 0; padding: 0
  }

  /* 화면 랩핑 */
  #wrap {
    width: 1024px;
  }

  /* 설명박스 내 정렬 */
  .InfoView {
    width: 150px; height: 40px;
    text-align: center;
    font-size: 15px;
  }
  /* 설명박스 내 a태그 CSS 설정 */
    .InfoView > a {
      text-decoration: none;
      color: blue;
    }

  figure {
    width: 1024px;
  }

  /*모바일 세로 화면 */
  @media screen and (max-width: 767px) {
    #wrap {
      width: 100%;
    }
    figure {
      margin : 15px;
      width : 93%; height: 300px;
    }
  }

  /* 모바일 가로 또는 태블릿화면 
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    #wrap {
      width: 100%;
    }
  } */
  /*데스크탑 화면*/
  @media screen and (min-width: 1024px) {
    #wrap {
      width: 100%;
    }
  }
