
  /*모바일 세로 화면 */
  @media screen and (max-width: 767px) {
    #wrap {
      width: 100%;
    }

    figure {
      margin : 15px;
      width : 93%; height: 300px;
    }

    #map {
      margin : 15px;
      width : 93%; height: 300px;
    }
    
    .detail_Main {
      margin : 15px;
      width: 93%;
    }
  }

  /* 모바일 가로 또는 태블릿화면 
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    #wrap {
      width: 100%;
    }
  } */
  /*데스크탑 화면*/
  @media screen and (min-width: 1024px) {
    #wrap {
      width: 100%;
    }
    section {
      width: 93%;
    }
  }
 
 /* 초기화 */
  * { 
    margin: 0; padding: 0;

  }

  /* 설명박스 내 정렬 */
  .InfoView {
    width: 150px; height: 40px;
    text-align: center;
    font-size: 15px;
  }
  .InfoView2 {
    width: 150px; height: 40px;
    text-align: center;
    font-size: 14px;
  }
  /* 설명박스 내 a태그 CSS 설정 */
    .InfoView > a {
      text-decoration: none;
      color: blue;
    }
    .InfoView2 > a {
      text-decoration: none;
      color: blue;
    }
  /*로고 이미지 크기 조절*/
  #indexlogo {
    width: 100%; height: 100%;
  }
  /* 인덱스 내 div태그 링크 */
  .LinkList {
    margin: 5px auto;
    background-color: lightblue;
    width: 35%; height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
  }
    .LinkList:hover {
      background-color: #2e9cdf;
    }
  /* 가게 메인로고 */
  .detaillogo {
    width: 100%; height: 100%;
  }
  
  /* 상세 페이지 메뉴판 */
  .detail_Main {
    border: 1px solid #ddd;
  }
  /* */
  .detail_Menu_Content {
    display: flex;
  }
  .detail_Tag {
    width: 20%;
  }
  .detail_Text {
    width: 80%;
  }

  /* 상세 페이지 대표 메뉴 이름 */
  .detail_MainMenu_Tag {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    text-align: center;
  }
	

   /* 메인 메뉴리스트 메뉴이름 */
  .detail_MainMenu_List > p {
    margin: 5px;
    height: 50px;
    line-height: 50px;
  }

  /* 이미지와 텍스트 정렬을 위한 플렉스 */
  .detail_MainMenu_List {
    display: flex;
  }
  /* 테스트용 임시 더미 이미지 */
  .detail_Dummy_Image {
    margin: 5px;
    width: 75px; height: 50px;
  }

  .detail_Menuboard {
  	margin: 5px;
    width: 98%; height: 60%;
  }


  /*메인화면 카테고리*/
  .main {
    min-width: 320px;
    max-width: 800px;
    padding: 0px 10px 0px 10px;  
    border-radius: 7px;;        
    background: #ffffff;
  }

  section {
    border-top: 1px solid #ddd;
    display: none;
  }
  
  section > a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    display: block;
    height: 60px;
    line-height: 60px;
    text-align: center;
  }
  
    section > a:hover {
      background-color: #2e9cdf;
      color: #ffffff;
   }

  input {
      display: none;}

  label {
    width: 60px;
    font-size: 12px;
    display: inline-block;
    padding: 10px 10px;
    font-weight: 600;
    color: #bbb;
    border: 1px solid transparent;
    text-align: center;
  }

  label:hover {
    color: #2e9cdf;
    cursor: pointer;}

/*input 클릭시, label 스타일*/
  input:checked + label {
      color: #555;
      border: 1px solid #ddd;
      border-top: 2px solid #2e9cdf;
      border-bottom: 1px solid #ffffff;}
      
  #content7{
  overflow:scroll;
  }

   

  #tab1:checked ~ #content1,
  #tab2:checked ~ #content2,
  #tab3:checked ~ #content3,
  #tab4:checked ~ #content4,
  #tab5:checked ~ #content5,
  #tab6:checked ~ #content6,
  #tab7:checked ~ #content7,
  #tab8:checked ~ #content8,
  #tab9:checked ~ #content9 {
    display: block;}
  
  .under_Menu_Bar {
  	height: 50px;
  	display: flex;
  	position: fixed;
  	bottom: 0px;
  	left: 0;
  	right: 0;
  	background: #ff6666;
  }

  .under_Nav {
  	border:1px solid #444555;
  	display: flexbox;
  	line-height: 50px;
  	width: 25%;
  	color: black;
  	text-align: center;
  	text-decoration: none;
  }
  
  .under_Nav:hover {
  	background: #f5827e;
  	color: white;
  }